<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yoga.android.vipin.com.vihangamyog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_menu_gallery" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity android:name=".Initials.FirstActivity" />
        <activity
            android:name=".Initials.MainActivity"
            android:theme="@style/AppTheme.noactionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Initials.loginpage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noactionbar" />
        <activity
            android:name=".Initials.Signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noactionbar" />
        <activity
            android:name=".Initials.Otpverificationn"
            android:theme="@style/AppTheme.noactionbar" />
        <activity
            android:name=".Initials.Homepagee"
            android:label="@string/title_activity_homepagee"
            android:theme="@style/AppTheme.noactionbar" />
        <activity
            android:name=".Centers.CentersDetail"
            android:theme="@style/AppTheme.noactionbar" />
        <activity android:name=".Firebasenotify.fcmnotifi" />

        <service android:name=".Firebasenotify.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebasenotify.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Firebasenotify.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".Pray.Praylayoutt"
            android:label="@string/prayy"
            android:theme="@style/AppTheme.noactionbar" />

        <activity android:name=".Videosguruji.videosplay"
            android:theme="@style/AppTheme.noactionbar"
            />

        <activity android:name=".AudioPlay.Audiomp"
            android:theme="@style/AppTheme.noactionbar"
            />


        <activity android:name=".Uploadpics.ViewAddPhotos"
            android:theme="@style/AppTheme.noactionbar"
            ></activity>
    </application>

</manifest>